:root
{
    font-size: 1.4375rem;
    font-family: "Consolas", "Courier New", monospace;
    --text-primary: #d6d6d6;
    --text-secondary: #ececec;
    --bg-primary: #2e2e2e;
    --bg-secondary: #141418;
    --transition-speed: 300ms

    /* Background: #2e2e2e;
    Comments:#797979;*/
}

.location
{
  margin:0;
  padding:0;
  margin-bottom:0;
  margin-left: 5.2rem;
}

.location-text
{
  padding:0;
  font-size: 0.7rem;
  color: lightgrey;
}
body
{
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar
{
    width: 0.25rem;
}

body::-webkit-scrollbar-track
{
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb
{
    background: #F92472;
}

main
{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar
{
    z-index: 1;
    width: 5rem;
    height: 100vh;
    position: fixed; 
    background-color: var(--bg-secondary);
    transition: width 250ms ease;
    overflow: none;
}

.navbar-nav
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item 
{
    width: 100%;
}

.nav-link
{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
  
.link-text
{
    display: none;
    white-space: nowrap;
    margin-left: 0.5rem;
}
  
.nav-link svg 
{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover
{
    width : 14rem;
}

.navbar:hover .link-text
{
    display:block;
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .profile-text
  {
    position:relative;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 2rem;
  }
  
  .profile-div
  {
    margin-top: 0;
    margin-bottom: 3.5rem;
  }

  .profile-img
  {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    border: 6px solid var(--bg-secondary);
  }

  .icons
  {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  .icons-a
  {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 3.5rem;
    fill: var(--text-primary);
    margin-bottom:-3rem;
  }
  
  .line-numbers
  {
    color: grey;
    font-size: 1.4375rem;
    position: absolute;
    top: -0.25rem;
    left: 3.4rem;
  }
  .line-numbers li { 
     counter-increment: item;
  }
  
  .line-numbers li:before { 
    content: counter(item) ' ';
  }

  ol { 
      counter-reset: item;
      list-style-type: none;
  }


  .projects-flex
  {
    justify-content: center;
    display: flex;
    margin-left: 1.5rem;
  }

  .projects-title
  {
    text-align: center;
  }

  .projects-section
  {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .projects-img
  {
    max-height: 200px;
    display: block; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form
  {
    display: block; 
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    width: 640px;
    height: 800px;
    overflow:hidden;
  }
 

	

  
  
  /* Small screens */
  /* @media only screen and (max-width: 600px)
  {
    body 
    {
      overflow: visible;
    } 

    .location
    {
      margin-left: 0.35rem;
    }

    .navbar 
    {
      bottom: -0.9rem;
      width: 100vw;
      height: 5rem;
    }
  
    .logo 
    {
      display: none;
    }
  
    .navbar-nav 
    {
      flex-direction: row;
    }
  
    .nav-link 
    {
      justify-content: center;
    }

    .navbar:hover
    {
        width: 100vw;
    }

    .navbar:hover .link-text
    {
        display:none;
    }

    main 
    {
       margin: 0;
    }
    .line-numbers
    {
      left: -1.4rem;
    }
    .profile-img
    {
      width: 45%; 
    }

    .icons-a
    {
      margin-bottom:-5rem;
    }
  } */

  /* Large screens */
  @media only screen and (min-width: 600px) 
  {
    body 
    {
      overflow: hidden;
    }
    .navbar 
    {
      top: 0;
      width: 5rem;
    }
  
    .navbar:hover 
    {
      width: 14rem;
    }
  
    .navbar:hover .link-text 
    {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      transform: rotate(-180deg) scale(0.75);
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0.5rem;
    }
  }
  /* For projects flexbox scaling */
  @media screen and (max-width: 1100px) 
  {
    .projects-flex
    {
      flex-direction: column;
    }
  }
  /* For projects contact form scaling */
  @media screen and (max-width: 900px) 
  {
    .contact-form
    {
      margin-left: 1.5rem;
    }
  }
  /* Safari */
  @media screen and (max-width: 600px) 
  { 
    body 
    {
      overflow: visible;
    } 

    .location
    {
      margin-left: 0.35rem;
    }
    .nav-item
    {
      /* border: 5px solid red; */
      width: 4.5rem;
      height:4rem;
    }

    .nav-item:last-child 
    {
      margin-top: 0;
    }

    .navbar 
    {
      bottom: -1rem;
      width: 100vw;
      height: 5rem;
    }
  
    .logo 
    {
      display: none;
    }
  
    .navbar-nav 
    {
      flex-direction: row;
      justify-content: center;
    }
  
    .nav-link 
    {
      height:80%;
    }

    .navbar:hover
    {
        width: 100vw;
    }

    .navbar:hover .link-text
    {
        display:none;
    }

    main 
    {
       margin: 0;
    }
    .line-numbers
    {
      left: -1.4rem;
    }
    .profile-img
    {
      width: 45%; 
    }

    .icons-a
    {
      margin-bottom:-5rem;
    }

    .projects-flex
    {
      flex-direction: column;
    }

    .projects-img
    {
      max-height: 200px;
      display: block; 
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -1rem;
      margin-right: auto;
    }

  }